@font-face {
  font-family: "Abril Fatface";
  src: url(../Fonts/AbrilFatface-Regular.ttf);
  font-display: swap;
}

.about-header {
  display: flex;
  flex-direction: column;
}

.about-h2 {
  font-family: "Abril Fatface", "Times New Roman", Times, serif;
  padding: 1rem;
  font-size: clamp(9vw, 10vw, 12vw);
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .about-h2 {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 1000px) {
  .typing-author {
    align-self: center;
    width: clamp(30%, 35%, 35%);
  }
}

.about-p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 0.25rem;
}

.about-span {
  font-style: italic;
  font-weight: bold;
}
