@font-face {
  font-family: "Abril Fatface";
  src: url(../Fonts/AbrilFatface-Regular.ttf);
  font-display: swap;
}

.landing-main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.landing-link {
  display: block;
  font-family: "Abril Fatface", "Times New Roman", Times, serif;
  font-size: clamp(9vw, 10vw, 12vw);
  color: black;
  text-decoration: none;
  text-align: center;
  line-height: 110%;
}

.landing-link:hover {
  color: hsl(0, 83%, 47%);
}

.bw-author {
  width: 75vw;
  padding-top: 2rem;
}

.landing-nav {
  padding-bottom: 2rem;
}

@media only screen and (min-width: 1000px) {
  .landing-main {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-evenly;
    gap: 0;
  }

  .landing-nav {
    padding-bottom: 0;
    margin-bottom: -8rem;
  }

  .landing-link {
    font-size: 5rem;
    text-align: left;
  }

  .bw-author {
    width: 32rem;
  }
}

@media only screen and (min-width: 1300px) {
  .landing-main {
    justify-content: center;
    gap: 3rem;
  }
}
