@font-face {
  font-family: "Abril Fatface";
  src: url(../Fonts/AbrilFatface-Regular.ttf);
  font-display: swap;
}

/* .landing-main {
  padding-top: 43vw;
  padding-bottom: 43vw;
  padding-right: 3vw;
  padding-left: 3vw;
} */

.landing-main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.landing-link {
  display: block;
  font-family: "Abril Fatface", "Times New Roman", Times, serif;
  font-size: 7vw;
  color: black;
  text-decoration: none;
  text-align: center;
}

.bw-author{
  width: 80vw;
}

@media only screen and (min-width: 600px) {
  .bw-author {
    width: 45vw;
  }
}

@media only screen and (min-width: 1000px) {
  .landing-main {
    padding-top: 7vw;
    padding-bottom: 7vw;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-evenly;
  }

  .landing-link {
    font-size: 7vw;
    text-align: left;
  }

  .bw-author {
    width: 40vw;
  }
}
