@font-face {
  font-family: "Abril Fatface";
  src: url(../Fonts/AbrilFatface-Regular.ttf);
  font-display: swap;
}

.blog-home-intro {
  text-align: center;
}

.mugshot {
  max-width: 100%;
}

.blog-h2 {
  font-family: "Abril Fatface", "Times New Roman", Times, serif;
  padding-left: 1rem;
  padding-right: 1rem;
}

.blog-nav-link {
  padding-left: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.blog-figure{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

.blog-img{
  max-width: 100%;
}

.blog-fig-cap{
  text-align: center;
}

.gif {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.bold-underline{
  text-decoration: underline;
  font-weight: bold;
}

.self{
  color: hsl(348, 83%, 47%);
}

.guest{
  color: hsl(282, 100%, 41%);
}

.writing-prompt{
  font-weight: bold;
  font-style: italic;
}